/* dashboard.component.scss */
.card {
  border-radius: 12px;
  transition: 0.3s ease;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.15);
  }
}

.bi {
  font-size: 1.8rem;
}
